.nav {
    display: flex;
    padding: 0 30px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.nav a::first-letter {
    text-transform: uppercase;
}

.nav a:not(:first-child) {
    margin-left: 30px;
}

.red {
    color: red;
    text-decoration: underline;
}

.black {
    color: black;
}
